<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd"><html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>{%block title%}{%endblock%} Javascript分享网</title>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<meta content="{% block description %}{% endblock %}" name=description>
<meta content="{% block keywords %}{% endblock %}" name=keywords>
<link href="/css/layout.css" type=text/css rel=stylesheet>
{%block head%}{%endblock%}
</head>
<body>
<div id=navcontainer>
 <div id=nav>
 <a title="首页" href="/">ShareJS首页</a>
 <a title="JavaScript代码" href="/code">JavaScript代码</a>
  <a title="JavaScript教程" href="/tutorial">JavaScript教程</a>
 <a title="JS软件及资源" href="/software">JS软件及资源</a>
 <a title="JS在线小工具" href="/tools">JS在线小工具</a>
 <a title="JQuery" href="/jquery">JQuery</a>
 <a title="优秀JavaScirpt网站" href="/goodsites">优秀JS站点</a>
 <a title="PNG图标" href="/pngs">PNG图标</a>
 <a title="矢量图" href="/vectors">矢量图</a>
 <a title="模板下载" href="/template">模板下载</a>
 </div>
</div>

<div id=wrapper>
<div id=container>
<div id=flashheader>
<table cellspacing=0 cellpadding=0 width=949 border=0>
  <tbody>
  <tr>
    <td colspan=2></td></tr>
  <tr>
    <td valign=center width=150><a href="/"><img  src="/images2/logo.gif"  border=0></a></td>
    <td valign=center align=right width=728 height=90></td></tr></tbody></table>
</div>
<div id=colcontainer>
    {%block main%}{%endblock%}
</div>
</div>
<div id=footercontainer>
<div id=footer>
<div id=footercol1>
<p>JavaScript分享网--国内最专业的JavaScript分享网站，快乐掌控JavaScript </p>
<p>
本站所有资源仅用于学习，不可用于商业用途，如有疑问请发Email至：<img src="/images2/email.jpg" width="150" height="20" /></p>
<p>Powered by <a href="http://www.sharejs.com/">ShareJS.com</a> &copy; 2004-2011 <a href="http://www.sharejs.com/">JavaScript分享网</a></p>
</div></div>
<script language="javascript" type="text/javascript" src="http://js.users.51.la/2222838.js"></script>
<noscript><a href="http://www.51.la/?2222838" target="_blank"><img alt="&#x6211;&#x8981;&#x5566;&#x514D;&#x8D39;&#x7EDF;&#x8BA1;" src="http://img.users.51.la/2222838.asp" style="border:none" /></a></noscript>
</div>
</div>

</body>
</html>
