{% extends "site.html" %}
{%load filters%}
{%load article_list_item_tag%}
{%load search_form_tag%}
{%load topic_list_tag%}
{% block title %}{% endblock %}

{% block main %}
<!--第一列-->
<div id=col1>
<h1>
<a href="/">首页</a>&nbsp;&gt;&nbsp;专题:{{topic.title}}
</h1>
<p class=dotted align=center>
  {%search_form_tag%}

  {%for article in article_list%}
  {%article_list_item_tag article%}
  {%endfor%}


  <p align=center>
    {%  include 'common/pager.html' %}
  </p>
</div>
<!--第一列end-->

<!--第二列-->
<div id=col2>
<h1>{{topic.title}}</h1>
<ul>
  {%for category in category_list%}
  <li><a href="/category/{{category.category_id}}">{{category.category_name}}</a></li>
  {%endfor%}
</ul>
<div align="center">
<script type="text/javascript"><!--
google_ad_client = "pub-0652501482160045";
/* 160x600, 创建于 08-12-8 */
google_ad_slot = "0508711133";
google_ad_width = 160;
google_ad_height = 600;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script>
</div>
<h1><a title="本类热门" href="#">本类热门</a></h1>
<p><b>本类热门脚本</b></p>
<ul>
 {%for article in hot_article_list%}
  <li><a title="{{article.title}}" href="/subject/{{article.id}}"  target=_blank>{{article.title}}</a></li>
 {%endfor%}
</ul>


<span class=clear></span>
</div>
<!--第二列end-->

<!--第三列-->
<div id=col3>
{%topic_list_tag%}
<span class=clear></span>
</div>
<!--第三列结束-->


{% endblock %}
